body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.nav {
  background: rgb(28, 28, 92);
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container input {
  border: none;
  height: 43px;
  width: 600px;
  border-radius: 70px;
  font-size: 16px;
  padding: 0 10px;
}
.search-container {
  position: relative;
}
.search-results {
  position: absolute;
  background: #fff;
  width: 92%;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  top: 42px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100;
}
.search-result .hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-result .hero-info button {
  margin: 20px 10px;
  background: #21ba45;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 9px 0;
  border-radius: 4px;
}
.search-result {
  display: flex;
}
.search-result img {
  height: 150px;
}
.search-result > div span {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}
#search-icon {
  height: 80%;
  width: 80%;
}
#search-btn {
  background: #dd0f4d;
  height: 43px;
  width: 43px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 50%;
  position: relative;
  top: 7px;
  margin-left: 10px;
}
#search-btn,
#like,
#unlike:hover {
  opacity: 0.8;
}
.search-container input:focus,
.search-container button:focus,
.footer button:focus,
.search-result .hero-info button:focus {
  outline: none;
}
.search-container button:hover,
.footer button:hover,
.search-result .hero-info button:hover {
  cursor: pointer;
}
#like,
#unlike {
  position: relative;
  right: -140px;
}
#like,
#unlike:hover {
  cursor: pointer;
}
.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}
.main .tabs {
  display: flex;
  font-size: 20px;
}
.tabs {
  margin-top: -30px;
  height: 40px;
}
.tab {
  font-size: 15px;
  text-align: center;
}
.main .tabs .tab {
  background: #fff;
  padding: 10px;
  margin-right: 13px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e1e1e1;
}
.tab:hover {
  opacity: 0.7;
}
.active-tabs {
  background: #21d056 !important;
  color: white;
}
.main .tabs .tab:hover {
  cursor: pointer;
  background: #e1e1e1;
}
.hero-card {
  background: #fff;
  padding: 0;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
  display: inline-block;
  margin: 5px;
}
.hero-card:not(:first-child) {
  margin-top: 20px;
}
.hero-card:last-child {
  margin-bottom: 50px;
}
.hero-card .image {
  flex: 1;
}
.hero-card .image img {
  height: 250px;
  width: 200px;
}
.hero-card .right {
  position: relative;
  flex: 10;
}
.hero-card .title {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
}
.hero-card .plot {
  margin-top: 20px;
  padding: 0 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.footer .rating {
  font-size: 20px;
  font-weight: 600;
}
.footer button {
  font-size: 15px;
  padding: 7px 10px;
  text-shadow: none;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}
.favourite-btn {
  background-color: #2185d0;
  color: #fff;
}
.unfavourite-btn {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
}
.no-heros {
  padding: 20px 0;
  font-size: 20px;
  color: #6d6d6d;
}
/*about*/
.heading {
  text-transform: capitalize;
  color: yellow;
  text-align: center;
}
#about-section {
  height: 200px;
  width: 600px;
  background-color: white;
  margin: auto;
}
#hero-img {
  height: 50%;
  width: 60%;
  margin: auto;
}
